<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Certificate of Appreciation</title>
</head>

<body>
    Hello <%= name %><br>
    <a href="https://www.google.com">Go to Google</a>
</body>

</html>